
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="intro">
        <h4 class="text-center font-weight-bold mb-3">
            The unlimited creative subscription.
        </h4>
        <p class="text-center">
            Unlimited downloads of 55+ million creative assets. From just
            $16.50/month.
        </p>
    </div>
    <!-- Template -->
    <section class="template">
        <div class="row text-center mb-3">
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/font.png" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        Fonts
                        <br />
                        10.900+
                    </a>
                </p>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/presentation.png" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        Presentation templates
                        <br />
                        50.394+
                    </a>
                </p>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/graphics.png" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        Graphic templates
                        <br />
                        42.482+
                    </a>
                </p>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/audio.png" height="150px" width="245px" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        Audio
                        <br />
                        12.421+
                    </a>
                </p>
            </div>
        </div>

        <div class="row text-center mb-3">
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/video.png" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        Video Template
                        <br />
                        21.900+
                    </a>
                </p>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/wordpress.png" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        WordPress
                        <br />
                        3.342+
                    </a>
                </p>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/3D.png" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        3D
                        <br />
                        4.293+
                    </a>
                </p>
            </div>
            <div class="col-3">
                <a href="#">
                    <img src="/image/homepage/photos.png" alt="" />
                </a>
                <p class="text-left ml-3">
                    <a class="nav-link" href="#">
                        Photos
                        <br />
                        9.421+
                    </a>
                </p>
            </div>
        </div>

        <button class="
            common
            btn btn-primary
            d-flex
            justify-content-center
            text-white
            font-weight-bold
          ">
            See all categories
        </button>
    </section>

    <!-- Quote -->
    <section class="quote mt-5 mb-5">
        <h3 class="text-center font-weight-bold">
            Join over 300,000 people worldwide
        </h3>
        <div class="quoteblog row text-center d-flex justify-content-center">
            <div style="background-color: #e5e5e5; width: 350px" class="col-3 card mr-5 quotecol">
                <p class="quote-symbol">&rdquo;</p>
                <p class="text-center">abcdef</p>
                <p class="text-center">
                    Maria Haynes, Graphic Designer - Hayland Freelance Design
                </p>
            </div>
            <div style="background-color: #e5e5e5; width: 350px" class="col-3 card mr-5">
                <p class="quote-symbol">&rdquo;</p>
                <p class="text-center">abcdef</p>
                <p class="text-center">
                    Maria Haynes, Graphic Designer - Hayland Freelance Design
                </p>
            </div>
            <div style="background-color: #e5e5e5; width: 350px" class="col-3 card mr-5">
                <p class="quote-symbol">&rdquo;</p>
                <p class="text-center">abcdef</p>
                <p class="text-center">
                    Maria Haynes, Graphic Designer - Hayland Freelance Design
                </p>
            </div>
        </div>
    </section>

    <!-- Subcribes -->
    <section class="mt-5 text-center">
        <h2 class="font-weight-bold">12 free files every month</h2>
        <p class="mt-2 mb-4">
            Get 12 hand-selected files, including fonts, presentations, videos and
            more. Create a free account to download them now
        </p>
        <button class="
            common
            btn btn-primary
            d-flex
            justify-content-center
            text-white
            font-weight-bold
          ">
            Create account now
        </button>

        <div class="row d-flex justify-content-center mt-5">
            <div class="col-3 card mr-5" style="width: 350px">
                <img src="/image/homepage/cute1.png" alt="" />
                <div class="card-body position-relative">
                    <h5 class="card-title text-left font-weight-bold">
                        Cute templatee
                    </h5>

                    <p class="card-text text-left">By CuteBird</p>
                    <a href="" class="download-template">
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="col-3 card mr-5" style="width: 350px">
                <img src="/image/homepage/cute2.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title text-left font-weight-bold">
                        Cute templatee
                    </h5>
                    <p class="card-text text-left">By CuteBird</p>
                    <a href="" class="download-template">
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
            <div class="col-3 card mr-5" style="width: 350px">
                <img src="/image/homepage/cute3.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title text-left font-weight-bold">
                        Cute templatee
                    </h5>
                    <p class="card-text text-left">By CuteBird</p>
                    <a href="" class="download-template">
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
        <a href="#" class="view-all-file mt-4 d-block text-dark">View all free files</a>
    </section>

    <section class="subcribe text-center mt-4">
        <h1 class="font-weight-bold mb-3">
            Subscribe today and start creating
        </h1>
        <button class="
            common
            btn btn-primary
            d-flex
            justify-content-center
            text-white
            font-weight-bold
          ">
            Subscribe now
        </button>
    </section>
</div>