@model TemplateCuteBird.ViewModels.Systems.Users.ResetPasswordViewModel
<section class="main-container col1-layout">
    <div class="main container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-5">
                    <p>Mời nhập mật khẩu mới</p>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="Token" />
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Khôi phục</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>