html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */

.header-height {
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 3px #ccc;
}

.icon-bird {
    font-size: 20px;
}

    .icon-bird:hover {
        text-decoration: none;
    }

    .icon-bird > img {
        height: 60px;
        width: 60px;
        margin-left: 250px;
    }

.black-cute {
    color: black;
}


.color-bird {
    color: rgb(66, 173, 226);
}


.ma-head {
    margin-right: 250px;
}

.sign-in-button {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    height: 30px;
}

    .sign-in-button:hover {
        cursor: pointer;
        background-color: #ccc;
    }

    .sign-in-button:focus {
        outline: none;
    }

/* Body */

.bg-img {
    background-image: linear-gradient(#fff,rgb(133, 188, 216));
}

.body-css {
    height: 900px;
    display: flex;
}

.form-sign-in {
    margin-top: 200px;
}

.background-form {
    background-color: #fff;
}

.login-button {
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    color: black;
}

    .login-button:hover {
        text-decoration: none;
        background-color: #ccc;
        color: black;
    }

    .login-button > img {
        height: 24px;
        width: 24px;
    }

/* Footer */
.footer-css {
    font-size: 15px;
    padding: 35px 250px;
}

.left-list-item-footer > a,
.right-list-item-footer > a {
    color: #fff;
}

    .left-list-item-footer > a:hover {
        color: #fff;
    }

    .right-list-item-footer > a:hover {
        text-decoration: none;
        color: black;
        background-color: #fff;
    }

.text-footer {
    color: #cccc;
}
