
/* Header */

.header-height {
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 3px #ccc;
}

.icon-bird {
    font-size: 20px;
}

    .icon-bird:hover {
        text-decoration: none;
    }

    .icon-bird > img {
        height: 60px;
        width: 60px;
        margin-left: 250px;
    }

.black-cute {
    color: black;
}


.color-bird {
    color: rgb(66, 173, 226);
}


.ma-head {
    margin-right: 250px;
}

.sign-in-button {
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    height: 30px;
}

    .sign-in-button:hover {
        cursor: pointer;
        background-color: #ccc;
    }

    .sign-in-button:focus {
        outline: none;
    }

.main {
    min-height: 800px;
    padding: 100px 0;
}

.text-form {
    font-size: 12px;
    color: #ccc;
}

.text_sign_up {
    color: rgb(66, 173, 226);
}

.form-sign-in {
    padding: 20px;
}

.width-btn {
    width: 100%;
    background-color: rgb(66, 173, 226);
    color: #fff;
}

.text-end {
    font-size: 12px;
}

.line-text {
    margin: 30px 0px 20px;
}

.text-sign-in {
    font-size: 12px;
}

.text-end > a {
    text-decoration: underline;
    color: #333;
}

.create-line {
    font-size: 62px;
    margin-bottom: 10px;
    display: inline-flex;
}

.get-line {
    font-weight: 700;
    margin: 24px 0 8px;
    opacity: 0.8;
}

.left-form {
    flex: 1;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 70%;
}

.box1 {
    margin-right: 12px;
}

.box2 {
    margin-left: 12px;
}

.line-box {
    margin: 10px 0;
    font-weight: bold;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
}

img {
    width: 120px;
    height: 90px;
}

.get-line {
    font-weight: 700;
    opacity: 0.8;
    margin-bottom: 8px;
}

.left-img {
    width: 100%;
    display: flex;
}

.img-main {
    margin-right: 8px;
    align-self: center;
    border-radius: 1px;
}

.box {
    box-shadow: 0 10px 25px ;
    border-radius: 8px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
}

.leftbot {
    flex: 1;
}

.leftbottom {
    flex: 1;
    display: flex;
}


/* Footer */
.footer-css {
    font-size: 15px;
    padding: 35px 250px;
}

.left-list-item-footer > a,
.right-list-item-footer > a {
    color: #fff;
}

    .left-list-item-footer > a:hover {
        color: #fff;
    }

    .right-list-item-footer > a:hover {
        text-decoration: none;
        color: black;
        background-color: #fff;
    }

.text-footer {
    color: #cccc;
}